<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../../resource/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../../resource/css/estiloprivado.css">
    <title>Restaurar contraseña</title>
</head>

<body>

    <div class="row">
        <div class="col-12"><br>
            <div class="container d-flex justify-content-center align-items-center min-vh-500">
                <form class="form" id="verificarcodigo-form">
                      <h3 class="fw-bold">Verificar código</h3><br>
                    <img height="150px" width="150px" src="../../resource/img/restaurar.png" alt="restaurar"><br>
                    <div class="title">Verificar</div>
                    <p class="message">¡Hemos enviado el código de restauración a tu correo electrónico! Favor de
                        revisar para continuar con el proceso.</p>
                        <input type="tel" autocomplete="off"  class=" form-control" id="verificarcodigo" name="verificarcodigo">
                    <div class="inputs" required>


                        <input id="input1" class="input-code" type="text" maxlength="1">
                        <input id="input2" class="input-code" type="text" maxlength="1">
                        <input id="input3" class="input-code" type="text" maxlength="1">
                        <input id="input4" class="input-code" type="text" maxlength="1">
                        <input id="input5" class="input-code" type="text" maxlength="1"> <input id="input4" type="text" maxlength="1">
                    </div> <br>
                    <button class="action" type="submit">Verificar</button>
                </form>
            </div>
        </div>
    </div>
    <script src="../../resource/js/bootstrap.bundle.min.js"></script>
    <script src="../../resource/js/sweetalert.min.js"></script>
    <script src="../../controllers/components.js"></script>
    <script src="../../controllers/privado/codigo_sfa.js"></script>
</body>

</html>