<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../resource/css/bootstrap.min.css" rel="stylesheet"/>
    <!-- <link rel="stylesheet" href="../../resource/css/nav.css"> -->
    <!-- Boxicons -->
    <link href='../../resource/css/boxicons.min.css' rel='stylesheet'>
    <title>Usuario</title>
</head>

<body>
   
    <div class="card_password">
        <span class="card__title_password">Cambia tu contraseña</span>
        <p class="card__content_password">Get fresh web design resources delivered straight to your inbox every week.
        </p>
        <div class="card__form_pasword">
            <input placeholder="Antigua contraseña" type="text">
            <input placeholder="Nueva contraseña" type="text">
            <input placeholder="" type="text">
            <button class="sign-up-password"> Sign up</button>
        </div>
    </div>

    <!-- </section> -->

    <script src="../../resource/js/bootstrap.bundle.min.js"></script>
    <script src="../../controllers/privado/plantilla.js"></script>
    <!-- <script src="../../controllers/privado/account.js"></script> -->
    <script src="../../resource/js/sweetalert.min.js"></script>
    <script src="../../controllers/components.js"></script>
    <!-- <script src="../../controllers/privado/usuario.js"></script> -->
</body>

</html>