<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../resource/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../../resource/fonts/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="../../resource/fonts/fontawesome/css/solid.min.css">
    <link rel="stylesheet" href="../../resource/css/estiloprivado.css">
    <link rel="stylesheet" href="../../resource/css/nav.css">

    <title>Editar perfil</title>
</head>


<body>

    <section id="sidebar">
        <header></header>
    </section>
    <section id="content">
        <nav></nav>
        <main>
            <div id="advanced-search-form">
                <h2 class="text-center">Editar cuenta</h2>
                <br><br><br>

                <!-- <button onclick="openPassword()" type="button" class="btn" data-bs-toggle="modal"
                data-bs-target="#agregar"><img height="25px" width="25px"
                    src="../../resource/img/imgtablas/agregar.png" alt="check">
            </button> -->
                <form class="row g-3" method="post" id="profile-form" autocomplete="off">

                    <div class="form-group">
                        <label for="" class="form-label">Alias</label>
                        <input type="text" id="alias" name="alias" class="form-control" placeholder="Nombre completo"
                            id="first-name">
                    </div>

                    <div class="form-group">
                        <label for="" class="form-label">Fecha de creacion</label>
                        <input type="date" id="fechacreacion" name="fechacreacion" class="form-control"
                            placeholder="Fecha de creacion">
                    </div>

                    <div class="form-group">
                        <label for="" class="form-label">Correo electrónico</label>
                        <input type="email" id="correo" name="correo" class="form-control"
                            placeholder="Correo electrónico" id="age">
                    </div>

                    <div class="form-group">
                        <label for="" class="form-label">Empleado</label>
                        <select type="text" name="idempleado" id="idempleado" class="form-select" required>
                        </select>
                    </div>


                    <div class="col
                    ">

                        <button type="submit" class="btn" id=" contra_primer" name="contra_primer">
                            <img height="30px" width="30px" src="../../resource/img/salvar.png" alt="check">
                        </button>


                        <a onclick="openPassword()" class="btn waves-effect indigo tooltipped"
                            data-tooltip="Cambiar clave">
                            <img height="35px" width="35px" src="../../resource/img/recargar.png" alt="check">
                        </a>
                    </div>
                </form>
            </div>


            <div class="modal fade" id="agregar" tabindex="-1" aria-labelledby="agregar" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modal-title">Cambio Contraseña</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form method="post" id="password-form" enctype="multipart/form-data" autocomplete="off">
                                <!-- <input class="invisible" type="number" id="id" name="id">
                                -->
                                <div class="mb-3">
                                    <label for="">Clave actual </label><br>
                                    <input type="password" name="actual" id="actual" class="form-control"><br>
                                </div>

                                <div class="mb-3">
                                    <label for="">Clave </label><br>
                                    <input type="password" name="nueva" id="nueva" class="form-control"><br>
                                </div>

                                <div class="mb-3">
                                    <label for="">Confirmar</label><br>
                                    <input type="password" name="confirmar" id="confirmar" class="form-control"><br>
                                </div>

                                <div class="text-center">

                                    <button type="submit" class="btn" id="contra_primer" name="contra_primer">
                                        <img height="30px" width="30px" src="../../resource/img/salvar.png" alt="check">
                                    </button>

                                    <button type="reset " class="btn" id="recargar" name="recargar">
                                        <img height="35px" width="35px" src="../../resource/img/actualizar.png"
                                            alt="check">
                                    </button>

                                </div>

                            </form>
                        </div>

                    </div>
                </div>
            </div>

        </main>

        <script src="../../resource/js/bootstrap.bundle.min.js"></script>
        <script src="../../resource/js/sweetalert.min.js"></script>
        <script src="../../controllers/components.js"></script>
        <script src="../../controllers/privado/plantilla.js"></script>
        <script src="../../controllers/privado/profile.js"></script>

</body>

</html>