<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../../resource/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../../resource/css/nav.css">

    <!-- Boxicons -->
    <link href='../../resource/css/unpkg.com_boxicons@2.0.9_css_boxicons.min.css' rel='stylesheet'>


    <title>Faltante</title>
</head>

<body id="bodyhorario">
    <section id="sidebar">
        <header></header>
    </section>
    <section id="content">
        <nav></nav>
        <main>
            <div class="head-title">
                <div class="left">
                    <h1>Faltante</h1>
                    <ul class="breadcrumb">
                        <li>
                            <a href="">Faltante</a>
                        </li>
                        <li><i class='bx bx-chevron-right'></i></li>
                        <li>
                            <a class="active" href="#">Faltante</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--Main principal-->
            <div class="table-data">
                <div class="order">
                    <div class="head">
                        <h3>Registro de faltantes</h3>
                        <form method="post" id="search-form">
                            <div class="input-field">
                                <input id="sfaltante" type="search" name="sfaltante"
                                    placeholder="Buscar por número de sesión" aria-label="Buscar" required />
                                <button type="submit" class="btn"><i class='bx bx-search'></i></button>
                            </div>
                        </form>
                        <button onclick="openCreate()" type="button" class="btn" data-bs-toggle="modal"
                            data-bs-target="#agregar"><img height="25px" width="25px"
                                src="../../resource/img/imgtablas/agregar.png" alt="check">
                        </button>
                    </div>
                    <div class="row">
                        <main class="container">
                            <section>
                                <div class="row meu">
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="table-responsive">
                                                <table>
                                                    <tr id="records"></tr>
                                                    <thead>

                                                        <tr class="text-center">
                                                            <th>Cantidad de minutos</th>
                                                            <th>Número de sesión</th>
                                                            <th>Acciones</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="text-center" id="tbody-rows"></tbody>
                                                </table>
                                            </div>
                                            <br>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </main>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="agregar" tabindex="-1" aria-labelledby="agregar" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modal-title"></h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">

                            <form id="searchmodal2" method="post">
                                <input type="text" class="form-control" id="searchInput" name="searchInput"
                                    placeholder="Ingrese su búsqueda">
                                <button type="submit" class="btn">Buscar</button>
                            </form>
                            <form method="post" id="save-form" enctype="multipart/form-data" autocomplete="off">
                                <input class="invisible" type="number" id="id" name="id">
                                <div>
                                    <label for="">Cantidad de minutos</label>
                                    <input name="cantidad" id="cantidad" type="number" value="" min="1" max="60">
                                </div>
                                <div class="mb-3">
                                    <label for="">Sesión</label><br>
                                    <select name="sesion" id="sesion"></select>
                                </div>
                                <div class="mb-3">
                                    <label for="">Información</label>
                                    <textarea rows="5" cols="30" minlength="10" maxlength="20" type="number" id="result"
                                        name="result" disabled></textarea>
                                </div>
                                <div>
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Cerrar</button>
                                    <button type="submit" class="btn btn-primary"><i
                                            class="fa-solid fa-floppy-disk"></i>
                                        Agregar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </section>
    <script src="../../resource/js/bootstrap.bundle.min.js"></script>
    <script src="../../controllers/privado/plantilla.js"></script>
    <script src="../../controllers/privado/account.js"></script>
    <script src="../../resource/js/sweetalert.min.js"></script>
    <script src="../../controllers/components.js"></script>
    <script src="../../controllers/privado/faltante.js"></script>
</body>