<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../../resource/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../../resource/css/nav.css">
    <!-- Boxicons -->
    <link href='../../resource/css/unpkg.com_boxicons@2.0.9_css_boxicons.min.css' rel='stylesheet'>
    <title>Gráfica de paquetes por rango de precios</title>
</head>

<body>
    <section id="sidebar">
        <header></header>
    </section>
    <section id="content">
        <nav></nav>
        <main>
            <div class="head-title">
                <div class="left">
                    <h1>Gráfica de paquetes por rango de precios</h1>
                    <!--Main principal-->
                </div>
                <div class="table-data">
                    <div class="order">
                        <div class="col-12k">
                            <div class="row">
                                <!--  Empieza el forms que ayuda a poner la fecha de inicio y fecha final -->
                                <div class="col-4">
                                    <form method="post" id="save-form">

                                        <div class="input-group mb-3">
                                            <span class="input-group-text">Precio inicial $</span>
                                            <input type="number" step="0.01"  min="1" class="form-control"
                                                aria-label="Amount (to the nearest dollar)" name="precio_incial"
                                                id="precio_incial">
                                        </div>

                                        <div id="alerta_incorrecto"></div>

                                        <div class="input-group mb-3">
                                            <span class="input-group-text">Precio final $</span>
                                            <input type="number" step="0.01"  min="1" class="form-control"
                                                aria-label="Amount (to the nearest dollar)" name="precio_final"
                                                id="precio_final">
                                        </div>

                                        <div id="alerta_correcto"></div>
                                        <br>

                                        <div>

                                            <button id="enviardatos" type="submit" class="btn btn-primary"><i
                                                    class="fa-solid fa-floppy-disk"></i>
                                                Enviar</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-8" id="grafico">
                                    <!-- Se muestra un gráfico lineal con el top 5 de fechas con más estudiantes -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>
    </section>
    <script src="../../resource/js/chart.min.js"></script>
    <script src="../../resource/js/bootstrap.bundle.min.js"></script>
    <script src="../../resource/js/sweetalert.min.js"></script>
    <script src="../../controllers/components.js"></script>
    <script src="../../controllers/privado/plantilla.js"></script>
    <script src="../../controllers/privado/grafico_cantidad_precio.js"></script>
</body>

</html>