<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../resource/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../../resource/css/estiloprivado.css">
    <link href="../../resource/css/boxicons.min.css" rel="stylesheet" />

    <title>Inicio de sesión</title>
</head>

<body>

    <div class="container d-flex justify-content-center align-items-center min-vh-100">
        <div class="row border rounded-5 p-3 bg-white shadow box-area">
            <div class="col-md-6 rounded-4 d-flex justify-content-center align-items-center flex-column left-box"
                style="background: #93BFCF;">
                <div class="featured-image mb-3">
                    <img src="../../resource/img/image.png" class="img-fluid" style="width: 250px;">
                </div>
                <p class="text-white fs-2 font-weight:600; ">Inicio de sesión</p>
                <small class="text-white text-wrap text-center" style="width: 17rem;">Verificarse para poder
                    ingresar</small>
            </div>

            <div class="col-md-6 right-box">
                <form id="login" method="post" autocomplete="off">
                    <div class="row align-items-center">
                        <div class="header-text mb-4">
                            <h4>¡Hola, nuevamente!</h4>
                            <p>Nos encontramos felices de que vuelvas</p>
                        </div>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control form-control-lg bg-ligh fs-6" id="nombre"
                                name="nombre" placeholder="Escribe tu alias">
                        </div>
                        <div class="input-group mb-1">
                            <input type="password" id="contra" name="contra"
                                class="form-control form-control-lg bg-ligh fs-6" placeholder="Escribe tu clave">
                        </div>
                        <br><br><br>
                        <div class="input-group mb-3">
                            <input type="submit" id="inicio" class="btn btn-outline-primary" value="Iniciar sesión">
                        </div>
                        <a class="text-center" href="restaurar_contra.html">¿Olvidaste la contraseña?</a>
                        <!-- <a class="text-center" href="primer_uso.html">¿Olvidaste la contraseña?</a> -->
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="../../resource/js/bootstrap.bundle.min.js"></script>
    <script src="../../resource/js/sweetalert.min.js"></script>
    <script src="../../controllers/components.js"></script>
    <script src="../../controllers/privado/index.js"></script>

</body>

</html>