<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../resource/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../../resource/fonts/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="../../resource/fonts/fontawesome/css/solid.min.css">
    <link rel="stylesheet" href="../../resource/css/nav.css">

    <title>Paquete</title>
</head>

<body id="bodyhorario">
    <section id="sidebar">
        <header></header>
    </section>
    <section id="content">
        <nav></nav>
        <main>




            <ul class="nav nav-tabs" id="myTab" role="tablist">

                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Paquete</button>
                </li>

                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Tipo Paquete</button>
                </li>

        
              </ul>
              
              <div class="tab-content" id="myTabContent">

                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    
                    <!-- PAQUETE -->
                    <div class="head-title">
                        <div class="left">
                            <h1>Paquete</h1>
                            <ul class="breadcrumb">
                                <li>
                                    <a href="">Paquete</a>
                                </li>
                                <li><i class='bx bx-chevron-right'></i></li>
                                <li>
                                    <a class="active" href="#">Paquete</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--Main principal PAQUETE-->
                    <div class="table-data">
                        <div class="order">
                            <div class="head">
                                <h3>Registro de paquetes</h3>

                                <form class="row" method="post">
                                    <label for="transmisionr" class="form-label">Reporte por tipo de transmisión
                                    </label><br>
                                    <select class="form-select" aria-label="Default select example" name="transmisionr"
                                        id="transmisionr"></select><br>
                                </form>
                                <br>
                                <form method="post" id="search-form">
                                    <div class="input-field">
                                        <input id="search" name="search" type="search"
                                            placeholder="Buscar por cantidad de clase, valor del paquete, transmision, y tipo de paquete "
                                            aria-label="Buscar" required />
                                        <button type="submit" class="btn"><i class='bx bx-search'></i></button>
                                    </div>
                                </form>
                                <button onclick="openCreate()" type="button" class="btn" data-bs-toggle="modal"
                                    data-bs-target="#agregarPaquete"><img height="20px" width="20px"
                                        src="../../resource/img/imgtablas/agregar.png" alt="check">
                                </button>
                                <button class="btn me-md-2" type="button">
                                    <a onclick="openTipoPaqueteG()"><img height="20px" width="20px"
                                            src="../../resource/img/imgtablas/reportAFP.png" alt=""></a>
                                </button>
                            </div>
                            <div class="row">
                                <main class="container">
                                    <section>
                                        <div class="row meu">
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="table-responsive">
                                                        <table>
                                                            <tr id="records"></tr>
                                                            <thead>

                                                                <tr class="text-center">
                                                                    <th>Descripción</th>
                                                                    <th>Valor del paquete</th>
                                                                    <th>Cantidad de clases</th>
                                                                    <th>Transmisión</th>
                                                                    <th>Tipo de paquete</th>
                                                                    <th>Acciones</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody class="text-center" id="tbody-rows"></tbody>
                                                        </table>
                                                    </div>
                                                    <br>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </main>
                            </div>
                        </div>
                    </div>

                    <!-- Modal para agregar PAQUETE -->
                    <div class="modal fade" id="agregarPaquete" tabindex="-1" aria-labelledby="agregarPaquete" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modal-title"></h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form method="post" id="save-form-paquete" enctype="multipart/form-data" autocomplete="off">
                                        <input class="invisible" type="number" id="id_paquete" name="id_paquete">
                                        <div class="mb-3">
                                            <label for="">Descripción</label><br>
                                            <input type="text" name="descripcion_paquete" id="descripcion_paquete"
                                                class="form-control"><br>
                                        </div>
                                        <div class="mb-3">
                                            <label for="">Valor paquete </label><br>
                                            <input type="text" name="valorpaquete_paquete" id="valorpaquete_paquete"
                                                class="form-control"><br>
                                        </div>
                                        <div class="mb-3">
                                            <label for="">Cantidad de clases</label><br>
                                            <input type="number" class="labeltext" name="cantidadclases_paquete"
                                                id="cantidadclases_paquete"><br>
                                        </div>
                                        <div class="mb-3">
                                            <label for="" class="form-label">Transmisión </label><br>
                                            <select class="form-select" aria-label="Default select example"
                                                name="transmision_paquete" id="transmision_paquete"></select><br>
                                        </div>
                                        <div class="mb-3">
                                            <label for="" class="form-label">Tipo paquete</label>
                                            <select type="text" name="tipo_paquete_tp" id="tipo_paquete_tp" class="form-select"
                                                required>
                                            </select>
                                        </div>
                                        <div>
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Cerrar</button>
                                            <button type="submit" class="btn btn-primary"><i
                                                    class="fa-solid fa-floppy-disk"></i>
                                                Agregar</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                
                </div>


                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    

                     <!-- TIPO PAQUETE -->
                     <div class="head-title">
                        <div class="left">
                            <h1>Tipo paquete</h1>
                            <ul class="breadcrumb">
                                <li>
                                    <a href="">Tipo paquete</a>
                                </li>
                                <li><i class='bx bx-chevron-right'></i></li>
                                <li>
                                    <a class="active" href="#">Tipo paquete</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--Main principal TIPO PAQUETE-->
                    <div class="table-data">
                        <div class="order">
                            <div class="head">
                                <h3>Registro de tipos de paquetes</h3>
                                <form method="post" id="search-form-tp">
                                    <div class="input-field">
                                        <input id="search-tp" type="search" name="search-tp"
                                            placeholder="Buscar por tipo de paquete" aria-label="Buscar" required />
                                        <button type="submit" class="btn"><i class='bx bx-search'></i></button>
                                    </div>
                                </form>
                                <button onclick="openCreateTipoPaquete()" type="button" class="btn" data-bs-toggle="modal"
                                    data-bs-target="#agregarTipoPaquete"><img height="25px" width="25px"
                                        src="../../resource/img/imgtablas/agregar.png" alt="check">
                                </button>
                            </div>
                            <div class="row">
                                <main class="container">
                                    <section>
                                        <div class="row meu">
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="table-responsive">
                                                        <table>
                                                            <tr id="recordstp"></tr>
                                                            <thead>

                                                                <tr class="text-center">
                                                                    <th>Tipo de paquete</th>
                                                                    <th>Acciones</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody class="text-center" id="tbody-rows-tp"></tbody>
                                                        </table>
                                                    </div>
                                                    <br>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </main>
                            </div>
                        </div>
                    </div>
                    <!-- Modal  para agregar TIPO PAQUETE-->
                    <div class="modal fade" id="agregarTipoPaquete" tabindex="-1" aria-labelledby="agregarTipoPaquete"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modal-title-tipo-paquete"></h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form method="post" id="save-form-tp" enctype="multipart/form-data" autocomplete="off">

                                        <input class="invisible" type="number" id="id_tipo_paquete" name="id_tipo_paquete">

                                        <div class="mb-3">
                                            <label for="" class="form-label">Tipo de paquete</label><br>
                                            <input type="text" name="tipo_paquete_tp" id="tipo_paquete_tp"
                                                class="form-control" required><br>
                                        </div>

                                        <div>
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Cerrar</button>
                                            <button type="submit" class="btn btn-primary"><i
                                                    class="fa-solid fa-floppy-disk"></i>
                                                Agregar</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>


                
              </div>



        </main>
    </section>
    <script src="../../resource/js/bootstrap.bundle.min.js"></script>
    <script src="../../resource/js/sweetalert.min.js"></script>
    <script src="../../controllers/components.js"></script>
    <script src="../../controllers/privado/plantilla.js"></script>
    <script src="../../controllers/privado/tipo_paquete.js"></script>
    <script src="../../controllers/privado/paquete.js"></script>
</body>