<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" id="recu-form">
        <label for="">alias</label>
        <input type="text" id="alias" name="alias">
        <label for="">correo</label>
        <input type="email" id="correo_usuario" name="correo_usuario">
        <button type="submit">enviar codigo</button>
    </form>
    <script src="../../resource/js/sweetalert.min.js"></script>
    <script src="../../controllers/components.js"></script>
    <script src="../../controllers/privado/account.js"></script>
    <script src="../../controllers/privado/recovery.js"></script>
</body>
</html>