<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <link rel="stylesheet" href="../../resource/css/estiloprivado.css">
    <title>Restaurar contraseña</title>
</head>

<body>

    <div class="row">
        <div class="col-6"><br>
            <div class="container d-flex justify-content-center align-items-center min-vh-500">
                <form class="form">
                    <h3 class="fw-bold">Verificar correo electrónico</h3><br>
                    <img height="150px" width="150px" src="../../resource/img/mail.png" alt="mail"><br>
                    <div class="title">Verificar</div>
                    <p class="message">Por favor, ingresar correo electrónico que se desea restaurar la contraseña</p>
                   
                    <div class="input-container">
                        <input placeholder="Enter text" class="input-field " type="text" autocomplete="off" >
                        <label for="input-field" class="input-label">Enter text</label>
                        <span class="input-highlight"></span>
                      </div>
                    
                      <button class="action">Verificar</button>
                </form>
            </div>
        </div>
        <div class="col-6"><br>
            <div class="container d-flex justify-content-center align-items-center min-vh-500">
                <form class="form">
                    <h3 class="fw-bold">Restaurar contraseña</h3><br>
                    <img height="150px" width="150px" src="../../resource/img/restaurar.png" alt="restaurar"><br>
                    <div class="title">Verificar código</div>
                    <p class="message">¡Hemos enviado el código de restauración a tu correo electrónico, favor de
                        revisar para continuar con el proceso!</p>
                    <div class="inputs">
                        <input id="input1" type="text" maxlength="1">
                        <input id="input2" type="text" maxlength="1">
                        <input id="input3" type="text" maxlength="1"> <input id="input4" type="text" maxlength="1">
                    </div> <br>
                    <button class="action">Verificar</button>
                </form>
            </div>
        </div>
    </div>




    <script src=" https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
        </script>
    <script src="../../controllers/privado/account.js"></script>
    <script src="../../controllers/components.js"></script>
    <script src="../../controllers/privado/index.js"></script>

</body>

</html>