<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../resource/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../../resource/css/estiloprivado.css">
    <title>Restaurar contraseña</title>
</head>

<body>

    <div class="row">
        <div class="col-12"><br>
            <div class="container d-flex justify-content-center align-items-center min-vh-500">
                
                <form class="form" method="post" id="password-form" autocomplete="off">
                    <h3 class="fw-bold">Restaurar contraseña</h3><br>
                    <img height="150px" width="150px" src="../../resource/img/restaurar_contra.png" alt="restaurar"><br>
                    <div class="title">Restaurar contraseña</div>
                    <p class="message">Por favor, restaura la contraseña para poder ingresar al sistema</p>
                    
                    <div class="input-container">
                        <input placeholder="Ingresar contraseña nueva" class="input-field "  type="password" name="nueva" id="nueva" autocomplete="off">
                        <label for="input-field" class="input-label">Ingresar contraseña nueva</label>
                    </div>
                    
                    <div class="input-container">
                        <input placeholder="Confirma nueva contraseña" class="input-field "  type="password" name="confirmar" id="confirmar" autocomplete="off">
                        <label for="input-field" class="input-label">Confirma nueva contraseña</label>
                        <span class="input-highlight"></span>
                    </div>
                    <button class="action" type="submit">Aceptar</button>
                </form>

                  
                </form>
            </div>
        </div>
    </div>

    <script src="../../resource/js/bootstrap.bundle.min.js"></script>
    <script src="../../resource/js/sweetalert.min.js"></script>
    <script src="../../controllers/components.js"></script>
    <script src="../../controllers/privado/restaurar_contra_codigo.js"></script>
   


</body>

</html>