<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../../resource/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../../resource/css/nav.css">
    <!-- Boxicons -->
    <link href='../../resource/css/unpkg.com_boxicons@2.0.9_css_boxicons.min.css' rel='stylesheet'>
    <title>Usuario</title>
</head>

<body>
    <section id="sidebar">
        <header></header>
    </section>
    <section id="content">
        <nav></nav>
        <main>
            <div class="head-title">
                <div class="left">
                    <h1>Usuario</h1>
                    <ul class="breadcrumb">
                        <li>
                            <a href="">Usuario</a>
                        </li>
                        <li><i class='bx bx-chevron-right'></i></li>
                        <li>
                            <a class="active" href="#">Usuario</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--Main principal-->
            <div class="table-data">
                <div class="order">
                    <div class="head">
                        <h3>Registro de usuarios</h3>
                        <form method="post" id="search-form">
                            <div class="input-field">
                                <input id="search" type="search" name="search"
                                    placeholder="Buscar por correo y alias del usuario" aria-label="Buscar" required />
                                <button type="submit" class="btn"><i class='bx bx-search'></i></button>
                            </div>
                        </form>
                        <button onclick="openCreate()" type="button" class="btn" data-bs-toggle="modal"
                            data-bs-target="#agregarUsuario"><img height="25px" width="25px"
                                src="../../resource/img/imgtablas/agregar.png" alt="check">
                        </button>
                    </div>
                    <div class="row">
                        <main class="container">
                            <section>
                                <div class="row meu">
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="table-responsive">
                                                <table>
                                                    <tr id="records"></tr>
                                                    <thead>
                                                        <tr class="text-center">
                                                            <th>Correo usuario</th>
                                                            <th>Alias usuario</th>
                                                            <th>Imagen del usuario</th>
                                                            <th>Fecha de creación</th>
                                                            <th>Intentos</th>
                                                            <th>Estado usuario</th>
                                                            <th>Empleado</th>
                                                            <th>Acciones</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="text-center" id="tbody-rows"></tbody>
                                                </table>
                                            </div>
                                            <br>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </main>
                    </div>
                </div>
            </div>
            <!-- Modal  para agregar-->
            <div class="modal fade" id="agregarUsuario" tabindex="-1" aria-labelledby="agregarUsuario"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modal-title"></h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form method="post" id="save-form" enctype="multipart/form-data" autocomplete="off">
                                <input class="invisible" type="number" id="id" name="id">
                                <div class="mb-3">
                                    <label for="" class="form-label">Correo usuario</label><br>
                                    <input type="email" name="correo" id="correo" class="form-control" required><br>
                                </div>
                                <div class="mb-3">
                                    <label for="" class="form-label">Alias usuario</label><br>
                                    <input type="text" name="alias" id="alias" class="form-control" required><br>
                                </div>
                                <div class="mb-3">
                                    <label for="" class="form-label">Clave usuario</label><br>
                                    <input type="password" name="clave" id="clave" class="form-control" required><br>
                                </div>
                                <div class="mb-3">
                                    <label for="" class="form-label">Confirmar clave</label><br>
                                    <input type="password" name="confirmar" id="confirmar" class="form-control" required><br>
                                </div>
                                <div class="mb-3">
                                    <label for="" class="form-label">Fecha de creación</label><br>
                                    <input type="date" name="fechacreacion" id="fechacreacion" class="form-control"
                                        required><br>
                                </div>
                                <div class="mb-3">
                                    <div class="file-field input-field col s12 m6">
                                        <div class="btn waves-effect tooltipped"
                                            data-tooltip="Elegir imagen de al menos 700x700 px">
                                            <i class="bi bi-imagen"></i>
                                            <input id="imagen_usuario" type="file" name="imagen_usuario"
                                                accept=".jpg, .png">
                                        </div>
                                        <div class="file-path-wrapper">
                                            <input class="file-path validate" type="text"
                                                placeholder="Formatos: jpg y png">
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="" class="form-label">Intentos</label><br>
                                    <input type="number" name="intentos" id="intentos" class="form-control" required><br>
                                </div>
                                <div class="mb-3">
                                    <label>Estado Usuario</label>
                                    <select class="form-select" required aria-label="select example" id="estadousu"
                                        name="estadousu">
                                        <option value="">Seleccione una opcion</option>

                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label>Empleado</label>
                                    <select class="form-select" required aria-label="select example" id="idempleado"
                                        name="idempleado">
                                        <option value="">Seleccione una opcion</option>

                                    </select>
                                </div>
                                <div>
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Cerrar</button>
                                    <button type="submit" class="btn btn-primary"><i
                                            class="fa-solid fa-floppy-disk"></i>
                                        Agregar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>

    </section>
    <script src="../../resource/js/bootstrap.bundle.min.js"></script>
    <script src="../../resource/js/sweetalert.min.js"></script>
    <script src="../../controllers/components.js"></script>
    <script src="../../controllers/privado/plantilla.js"></script>
    <script src="../../controllers/privado/usuario.js"></script>
</body>

</html>