*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    background: #EEE9DA;
    height: 100vh;
}

.box-area{
    width: 930px;
}

.right-box{
    padding: 40px 30px 40px 40px;
}

::placeholder{
    font-size: 16px;
}

@media only screen and (max-width: 768px){
    .box-area{
        margin: 0 10px;
    }

    .left-box{
        height: 100px;
            overflow: hidden;
        
    }

    .right-box{
        padding: 20px;
    }
}

.container{
    position: relative;
    height: 100%;
    width: 90%;
    background-color: #EEE9DA;
    margin: 0 auto;
}

.tag{
    position: absolute;
    height:  140px;
    width: 20px;
    top: 80px;
    left: 56px;
    transform-style: preserve-3d ;
    perspective: 100px;
}

.tag::after{
    content: '';
    position: absolute;
    height: 540px;
    width: 60px;
    left: -80px;
    background: linear-gradient(90deg, #6096B4, #93BFCF 96%);
    transform: rotate(0deg);
    border-radius: 0 100px 100px 0 / 0 70px 70px 0; 
}

.tag::before{
    content: '';
    position: absolute;
    height: 567px;
    width: 54px;
    top: -15px;
    left: -100px;
    background-color:#00425A ;
    border-radius: 50px 0 0 50px / 80px 0 0 80px;
}


/*Registrase*/
#advanced-search-form{
    background-color: #fff;
    max-width: 950px;
    margin: 0px auto 0;
    padding: 40px;
    color: #858b8e;
    box-shadow: 6px 6px 6px rgba(0,0,0,0.2);
}

#advanced-search-form .form-group{
	margin-bottom: 20px;
    margin-left:20px;
	width: 47%;
    float:left;
    text-align: left;
}

#advanced-search-form .btn{
    width: 46%;
    margin: 20px auto 0;
 
}

@media screen and (max-width: 800px){
    #advanced-search-form .form-group{
        width: 45%;
    }

    #advanced-search-form{
        margin-top: 0;
    }
}

@media screen and (max-width: 560px){
    #advanced-search-form .form-group{
        width: 100%;
        margin-left: 0;
    }

    #advanced-search-form h2{
        text-align: center;
    }
}


